.btnlearnmore {
  font-family: pb;
  font-size: 14px;
  letter-spacing: 3.2px;
}
.title {
  font-family: pb;
  font-size: var(--h3-fs);
  text-transform: uppercase;
}
.detail {
  font-size: 16px;
  font-family: pr;
  color: #464646;
  letter-spacing: 0.25px;
  line-height: 22px;
  margin: 20px 0 20px 0;
  line-height: 20px;
}
